$bg-color: rgba(24, 24, 36, 1);
;
$base-color: #25273C;

$mainText-color: #FFF;
$secondText-color: rgba(15, 144, 161, 0.57);

$mainBorder-color:  rgba(191, 86, 255, 0.79);
$secondBorder-color: rgba(72, 64, 64, 0.37);

$pushButtonBg-color: rgba(90, 255, 49, 0.6);

@mixin glowing-effect($gradient-colors, $border-radius) {
  &::before {
    content: '';
    background: $gradient-colors;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: $border-radius;
  }

  &:hover::before {
    opacity: 1;
  }

  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: $border-radius;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

